extends ../layout

block content
 a(href='/bicicletas') Volver
 br
 br
 br

 h1 

    .container
        .row.h-100.justify-content-center.align-items-center
                .col-md-6.col-md-offset-3
                    h1 Nueva Bicicleta  

                    form(action='/bicicletas/create' method='post')
                        .form-row
                                .col   
                                    .form-group
                                        label.form-control-sm(for='id') ID:
                                        input#id.form-control.form-control-sm(type='text' name='id' )
                                .col        
                                    .form-group
                                        label.form-control-sm(for='color') Color:
                                        
                                        input#color.form-control.form-control-sm(type='text' name='color')
                                .col        
                                    .form-group
                                        label.form-control-sm(for='modelo') Modelo:
                                        
                                        input#modelo.form-control.form-control-sm(type='text' name='modelo')
                                .col        
                                    .form-group
                                        label.form-control-sm(for='lat') Latitud:
                                        
                                        input#lat.form-control.form-control-sm(type='text' name='lat')
                                .col        
                                    .form-group
                                        label.form-control-sm(for='lng') Longitud:
                                        
                                        input#lng.form-control.form-control-sm(type='text' name='lng')        
                                    
                    input.bnt.form-control.btn-success(type='submit' value='ok')
                    //button.btn.btn-primary.btn-sm(type='submit') Ok