extends ../layout

block content
    a(href='/bicicletas') Volver
    .container
        .row.h-100.justify-content-center.align-items-center
            .col-md-6.col-md-offset-3
                h1 ver
                form(action=`/bicicletas`)
                    .form-group
                        label.bg-info.col-form-label.form-control(for='id') ID:
                        input#id.form-control(type='text' name='id' value=bici.id readonly)
                    .form-group    
                        label.bg-info.col-form-label.form-control(for='color') Color:
                        input#color.form-control(type='text' name='color' value=bici.color readonly)
                    .form-group    
                        label.bg-info.col-form-label.form-control(for='modelo') Modelo:
                        input#modelo.form-control(type='text' name='modelo' value=bici.modelo readonly)
                    .form-group    
                        label.bg-info.col-form-label.form-control(for='lat') Latitud:
                        input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0] readonly)
                    .form-group
                        label.bg-info.col-form-label.form-control(for='lng') Longitud:
                        input#lng.form-control(type='text' name='lng' value=bici.ubicacion[0] readonly)
                        br    
                        input.btn.form-control.btn-primary(type='submit' value='OK')