extends ../layout

block content

    a(href='/bicicletas/create') Nueva bicicleta
    br
    a(href='/') Home
    br
    
    table.table
        thead 
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col') Ver
                th(scope='col') Actualizar
                th(scope='col') Borrar
        tbody
        each bici in bicis
            tr  
                td(scope='row')
                    = bici.id
                td=bici.color
                td=bici.modelo
                td=bici.ubicacion
                td
                    a(href='bicicletas/'+bici.id+'/datos') ver
                td
                    a(href='bicicletas/'+bici.id+'/update') Actualizar
                td
                    form.inline(method='post' action='bicicletas/'+bici.id+'/delete')
                        input(type='hidden' name='id' value=bici.id)
                        button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger')  Eliminar
